<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite parallel="tests" thread-count="10" name="Automation Test Suite"
       data-provider-thread-count="1">
    <listeners>
        <listener class-name="com.utils.TestListener"></listener>
    </listeners>
    <test parallel="false" name="Browser - Chrome">
        <parameter name="browser" value="chrome"></parameter>
        <parameter name="emailAddress" value="veerdhavalshinde@gmail.com"></parameter>
        <parameter name="password" value="F$esta@09876"></parameter>
        <classes>
    <!-- <class name="com.tests.NaukriProfileUpdate"/> -->
     <class name="com.tests.PracticeTestLoginTest"/>
 </classes>
</test>
<!--<test parallel="false" name="Firefox">
<parameter name="browser" value="firefox-docker"></parameter>
<classes>
    <class name="com.tests.UnicornSignUp"/>
</classes>
</test>-->
</suite>